<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .button {
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
            }
            
            .divbackground{
              background-color: #FBD603;
            }
            .button1 {background-color: #4CAF50;} /* Green */
            .button2 {background-color: #008CBA;} /* Blue */
          </style>
        <meta charset="utf-8">
        <title>Parisodan-Researcher's ornament</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicon-->
        <link href="../static/img/scientific_research_icon.png" rel="shortcut icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="../static/lib/slick/slick.css" rel="stylesheet">
        <link href="../static/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style_project5.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="logo">
                                <a href="index">
                                    <h1 style="font-size: 2rem; text-align: center;">Parisodan-Researcher's Ornament</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="index" class="nav-item nav-link ">Home</a>
                                <a href="#" class="nav-item nav-link active">About</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Resources</a>
                                    <div class="dropdown-menu">
                                        <a href="pdfsearch" class="dropdown-item">PDF search</a>
                                        <a href="wikisearch" class="dropdown-item">Wiki search</a>
                                        <a href="paragraph" class="dropdown-item">Paragraph search</a>
                                    </div>
                                </div>
                                <a href="team" class="nav-item nav-link">Team</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->
            
            
            <!-- Page Header Start -->
            <div class="page-header" style = "background-color: #030f27;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 style="color: #fdbe33;">About</h2>
                        </div>
                        <div class="col-12">
                            <a href="index">Home</a>
                            <a href="#">About</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s" >
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-md-6">
                            <div class="section-header text-left">
                                <h2>Our fascinating story</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    We, the students of EEE department of IITG were given a chance to work on a project as part of 
                                    course project by Dr. Gaurav Trivedi which helped us 
                                    learn many things like front end, back end and ML deployment.
                                </p>
                                <h3>Timeline</h3>
                                The entire duration of the project required 5 weeks of strenuous work.
                                <ol>
                                    <li>The first two weeks comprised of learning of front end, back end development, 
                                        and ML training by the respective members.
                                    </li>
                                    <li>The third and fourth weeks were used to create the modules separately by the respective members.
                                    </li>
                                    <li>
                                        The fifth week was used to integrate all the modules into a single package.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
            
            <div class="about wow fadeInUp" data-wow-delay="0.1s" style="background-color: burlywood">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-md-6">
                            <div class="section-header text-left">
                                <p   style="color: #030f27;">Welcome to PARISODHAN</p>
                                <h3  style="color: wheat;" >It is every Researcher's Ornament</h3>
                            </div>
                            <div class="about-text">
                                <p style="color: black;">
                                    We tried to create a tool that is essential for many researchers and accelerate research.
                                    The research papers and documents are very long so finding something important becomes extremely difficult. So, we tried to automate that using deep learning.
                                    Our model can search the answers for your question in long text and papers within a short time.
                                    It doesn’t give the direct words in the text. The language model we used is powerful to understand the text, capture multiple sentences and it is highly parallelizable and computes efficiently. 
                                    We are using an excellent transformer model in deep learning which avoids recursion by processing sentences as a whole using attention mechanisms and positional embeddings. So, given a paragraph and question our model can produce the best possible answer compared to humans.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="about wow fadeInUp" data-wow-delay="0.1s" style="background-color: #030f27">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-md-6">
                            <div class="section-header text-left">
                                <p   style="color: #030f27;">Welcome to PARISODHAN</p>
                                <h3  style="color: wheat;" >Services provided</h3>
                            </div>
                            <div class="about-text">
                                <p style="color: whitesmoke">

                                    The first one requires user to input paragraphs and ask questions.
                                </p>
                                <p style="color: whitesmoke">
                                    The second one requires user to upload a book or a pdf, apply OCR (optical character recognition) and extract the text. These will be long texts, so we divide them into pages and create a map of words and pages. So given a question we search only those pages which have relevant words and not the entire pdf. We also remove punctuations and extra spaces.
                                </p>
                                <p style="color: whitesmoke">
                                    The third one requires user to give the question and we automatically surf Wikipedia to find the best possible answer. We use web scrapping to get the relevant wiki pages and use that text to find the answer with maximum score and return it.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Frequently Asked Question</p>
                        <h2>You May Ask</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            Difference between supervised and unsupervised machine learning?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Supervised learning requires training labeled data. 
                                            Unsupervised learning, in contrast, does not require labeling data explicitly.

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://techdifferences.com/difference-between-supervised-and-unsupervised-learning.html#:~:text=Supervised%20learning%20is%20the%20technique,set%20of%20categories%20are%20used.">
                                                    Learn More
                                                </a>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                            How is KNN different from k-means clustering?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            K-Nearest Neighbors is a supervised classification algorithm, while k-means clustering is an unsupervised clustering algorithm. 

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://pythonprogramminglanguage.com/how-is-the-k-nearest-neighbor-algorithm-different-from-k-means-clustering/#:~:text=KNN%20represents%20a%20supervised%20classification,into%20k%20number%20of%20clusters.">
                                                Learn More
                                                </a>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            How a ROC curve works?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            The ROC curve is a graphical representation of the contrast between true positive rates and the false positive rate at various thresholds. 
                                            It’s often used as a proxy for the trade-off between the sensitivity of the model (true positives) vs the fall-out or the probability it will trigger a false alarm (false positives).
                                            
                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://www.displayr.com/what-is-a-roc-curve-how-to-interpret-it/#:~:text=A%20ROC%20curve%20is%20constructed,false%20positive%20rate%20(FPR).&text=A%20discrete%20classifier%20that%20returns,point%20on%20the%20ROC%20space.">
                                                    Learn More
                                                </a>
                                            </b>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                            Explain the difference between L1 and L2 regularization.
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            L2 regularization tends to spread error among all the terms, while L1 is more binary/sparse, with many variables either being assigned a 1 or 0 in weighting. 
                                            L1 corresponds to setting a Laplacean prior on the terms, while L2 corresponds to a Gaussian prior.
                                            <br></br>
                                            <a class="button button1" href = "https://www.quora.com/What-is-the-difference-between-L1-and-L2-regularization-How-does-it-solve-the-problem-of-overfitting-Which-regularizer-to-use-and-when">Learn More</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                            How is a decision tree pruned?
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Pruning is what happens in decision trees when branches that have weak predictive power are removed in order to reduce the complexity of the model and increase the predictive accuracy of a decision tree model. 
                                            Pruning can happen bottom-up and top-down, with approaches such as reduced error pruning and cost complexity pruning.

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://stackoverflow.com/questions/879432/what-is-the-difference-between-a-generative-and-a-discriminative-algorithm">
                                                    Learn More
                                                </a>
                                            </b>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="accordion-2">

                                <div class="card wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                            What’s the difference between a generative and discriminative model?
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            A generative model will learn categories of data while a discriminative model will simply learn the distinction between different categories of data. 
                                            Discriminative models will generally outperform generative models on classification tasks.

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://stackoverflow.com/questions/879432/what-is-the-difference-between-a-generative-and-a-discriminative-algorithm">
                                                    Learn More
                                                </a>
                                            </b>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                            What’s the F1 score? How would you use it?
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            The F1 score is a measure of a model’s performance. It is a weighted average of the precision and recall of a model, with results tending to 1 being the best, and those tending to 0 being the worst. 
                                            You would use it in classification tests where true negatives don’t matter much.

                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://en.wikipedia.org/wiki/F-score">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                            What’s the “kernel trick” and how is it useful?
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            The Kernel trick involves kernel functions that can enable in higher-dimension spaces without explicitly calculating the coordinates of points within that dimension: instead, kernel functions compute the inner products between the images of all pairs of data in a feature space.
                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://en.wikipedia.org/wiki/Kernel_method">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                            What do you mean by Overfitting? How to avoid this?
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            While training a model if the data is fed in a large amount, then the model starts learning from the noise and other inaccurate data from the dataset. 
                                            As a result, it becomes difficult for the model to generalise new instances other than the training set.  

                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://www.geeksforgeeks.org/underfitting-and-overfitting-in-machine-learning/">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                            What Are The Steps Involved In Machine Learning Project?
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            There are several important steps you must follow to achieve a good working model and they are data collection, data preparation, choosing a machine learning model, training the model, model evaluation, parameter tuning and lastly prediction.
                                            
                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://towardsdatascience.com/the-7-steps-of-machine-learning-2877d7e5548e">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->

            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Team Leader's Contact Details</h2>
                                <p><i class="fa fa-phone-alt"></i>+91 99003 00840</p>
                                <p><i class="fa fa-envelope"></i>yashwant18@iitg.ac.in</p>
                                <!--Social Networking Details. Can be added if needed-->
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/yashwanth.m.93"><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                        </div>
                        <div class="col-md-6 col-lg-3">
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="index">Home Page</a>
                                <a href="about">About</a>
                                <a href="team">Our Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Parisodan</a>, All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
