<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .button {
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
            }
            
            .divbackground{
              background-color: #FBD603;
            }
            .button1 {background-color: #4CAF50;} /* Green */
            .button2 {background-color: #008CBA;} /* Blue */
          </style>
        <meta charset="utf-8">
        <title>Parisodan-Researcher's ornament</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicon-->
        <link href="../static/img/scientific_research_icon.png" rel="shortcut icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="../static/lib/slick/slick.css" rel="stylesheet">
        <link href="../static/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style_project5.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="logo">
                                <a href="index">
                                    <h1 style="font-size: 2rem; text-align: center;">Parisodan-Researcher's Ornament</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="#" class="nav-item nav-link active">Home</a>
                                <a href="about" class="nav-item nav-link">About</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Resources</a>
                                    <div class="dropdown-menu">
                                        <a href="pdfsearch" class="dropdown-item">PDF search</a>
                                        <a href="wikisearch" class="dropdown-item">Wiki search</a>
                                        <a href="paragraph" class="dropdown-item">Paragraph search</a>
                                    </div>
                                </div>
                                <a href="team" class="nav-item nav-link">Team</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->

            <!-- Carousel Start -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/img/droneIITG.jpg" alt="Drone IITG Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">We are students of IITG</p>
                            <h1 class="animated fadeInLeft">Project Parisodan</h1>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="../static/img/iitg_image2.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">BTech Students of EEE</p>
                            <h1 class="animated fadeInLeft">DSA Course Project</h1>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel End -->


            <!-- Feature Start-->
            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="feature-item">
                                <a href="https://www.iitg.ac.in/">
                                    <img src="../static/img/iitg_logo.png" alt="iitg logo" style="height: 150px; width: 150px">
                                </a>
                                <div class="feature-text">
                                    <h3>IITG</h3>
                                    <p>Click on the logo to visit IITG official page</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="feature-item">
                                <a href="https://www.iitg.ac.in/eee/">
                                    <img src="../static/img/eee_dept.jpg" alt="eee dept" style="height: 150px; width: 150px">
                                </a>
                                <div class="feature-text">
                                    <h3>EEE dept.</h3>
                                    <p>Click on the image to visit IITG EEE dept. official site</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End-->


            <!-- About Start -->
            <img src="../static/img/machine-learning-definition.jpeg" alt="Image" >
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-md-6">
                            <div class="section-header text-left">
                                <p>Welcome to Machine Learning</p>
                                <h2>A journey that started from 1959</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    <b>Machine learning</b> (ML) is the study of computer algorithms that improve automatically through experience 
                                    and by the use of data. It is seen as a part of artificial intelligence. Machine learning algorithms 
                                    build a model based on sample data, known as <i>"training data"</i>, in order to make predictions or decisions 
                                    without being explicitly programmed to do so. Machine learning algorithms are used in a wide variety of applications, 
                                    such as in medicine, email filtering, and computer vision, where it is difficult or unfeasible to develop 
                                    conventional algorithms to perform the needed tasks.
                                </p>
                                <a class="btn" href="https://en.wikipedia.org/wiki/Machine_learning">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
            

            <!-- Approach Start -->
            <div class="MLapproach">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>Machine Learning Approaches</h2>
                    </div>
                    <div class="row" style = "justify-content: center;" >
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="MLapproach-item">
                                <div class="MLapproach-img">
                                    <img src="../static/img/supervised_learning.jpg" alt="Supervised Learning Image">
                                    <div class="MLapproach-overlay">
                                        <p>
                                            Supervised learning (SL) is the machine learning task of learning a function that maps an input to an output based on example input-output pairs.
                                        </p>
                                    </div>
                                </div>
                                <div class="MLapproach-text">
                                    <h3>Supervised Learning</h3>
                                    <a class="btn" href="https://en.wikipedia.org/wiki/Supervised_learning">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.2s"></div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="MLapproach-item">
                                <div class="MLapproach-img">
                                    <img src="../static/img/unsupervised_learning.jpg" alt="Unsupervised Learning Image" style="height: 218px;">
                                    <div class="MLapproach-overlay">
                                        <p>
                                            Unsupervised learning (UL) is a type of algorithm that learns patterns from untagged data. The hope is that through mimicry, the machine is forced to build a compact internal representation of its world.
                                        </p>
                                    </div>
                                </div>
                                <div class="MLapproach-text">
                                    <h3>Unsupervised Learning</h3>
                                    <a class="btn" href="https://en.wikipedia.org/wiki/Unsupervised_learning">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  style = "justify-content: center;">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="MLapproach-item">
                                <div class="MLapproach-img">
                                    <img src="../static/img/semi_supervised_learning.jpg" alt="Semi-Supervised Learning Image" style="height: 218px;">
                                    <div class="MLapproach-overlay">
                                        <p>
                                            Semi-supervised learning is an approach to machine learning that combines a small amount of labeled data with a large amount of unlabeled data during training. 
                                        </p>
                                    </div>
                                </div>
                                <div class="MLapproach-text">
                                    <h3>Semi-Supervised Learning</h3>
                                    <a class="btn" href="https://en.wikipedia.org/wiki/Semi-supervised_learning">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.4s"></div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="MLapproach-item">
                                <div class="MLapproach-img">
                                    <img src="../static/img/Reinforcement_learning.jpg" alt="Reinforcement Learning Image" style="height: 218px;">
                                    <div class="MLapproach-overlay">
                                        <p>
                                            Reinforcement learning (RL) is an area of machine learning concerned with how intelligent agents ought to take actions 
                                            in an environment in order to maximize the notion of cumulative reward.
                                        </p>
                                    </div>
                                </div>
                                <div class="MLapproach-text">
                                    <h3>Reinforcement Learning</h3>
                                    <a class="btn" href="https://en.wikipedia.org/wiki/Reinforcement_learning">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MLapproach End -->


            <!-- Video Start -->
            <div style="width: 800px; height: 500px; float: none; clear: both; margin: 2px auto;">
                <embed
                  src="http://www.youtube.com/embed/xtOg44r6dsE?autohide=1&autoplay=1"
                  wmode="transparent"
                  type="video/mp4"
                  width="100%" height="100%"
                  allow="autoplay; encrypted-media; picture-in-picture"
                  allowfullscreen
                  title="Machine Learning Approaches"
                >
            </div>
            <!-- Video End -->


            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Team</p>
                        <h2>Meet the collaborators</h2>
                    </div>
                    <div class="row" style = "justify-content: center;">
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="../static/img/yashwant.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Yashwant M</h2>
                                    <p>Team Leader</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/yashwanth.m.93"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="../static/img/srichandan_dash.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Srichandan Dash</h2>
                                    <p>Front End Developer</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/chandan.dash.7140497"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="../static/img/subhashisdas.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Subhashis Das</h2>
                                    <p>Front End Developer</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/subhashis.das.9803"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href="https://www.linkedin.com/in/subhashis-das-2769951b1/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style = "justify-content: center;" >
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="../static/img/premu.jfif" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Madhu Premvignesh</h2>
                                    <p>Back End Developer</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/premvignesh.madhu"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s"></div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="../static/img/vishal.png" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Vishal Kumar Gupta</h2>
                                    <p>Front/Back End Developer</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/profile.php?id=100009327373056"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href="https://www.linkedin.com/in/vishal-kumar-6b026b188"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->
            

            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Frequently Asked Question</p>
                        <h2>You May Ask</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            Difference between supervised and unsupervised machine learning?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Supervised learning requires training labeled data. 
                                            Unsupervised learning, in contrast, does not require labeling data explicitly.

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://techdifferences.com/difference-between-supervised-and-unsupervised-learning.html#:~:text=Supervised%20learning%20is%20the%20technique,set%20of%20categories%20are%20used.">
                                                    Learn More
                                                </a>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                            How is KNN different from k-means clustering?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            K-Nearest Neighbors is a supervised classification algorithm, while k-means clustering is an unsupervised clustering algorithm. 

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://pythonprogramminglanguage.com/how-is-the-k-nearest-neighbor-algorithm-different-from-k-means-clustering/#:~:text=KNN%20represents%20a%20supervised%20classification,into%20k%20number%20of%20clusters.">
                                                Learn More
                                                </a>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            How a ROC curve works?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            The ROC curve is a graphical representation of the contrast between true positive rates and the false positive rate at various thresholds. 
                                            It’s often used as a proxy for the trade-off between the sensitivity of the model (true positives) vs the fall-out or the probability it will trigger a false alarm (false positives).
                                            
                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://www.displayr.com/what-is-a-roc-curve-how-to-interpret-it/#:~:text=A%20ROC%20curve%20is%20constructed,false%20positive%20rate%20(FPR).&text=A%20discrete%20classifier%20that%20returns,point%20on%20the%20ROC%20space.">
                                                    Learn More
                                                </a>
                                            </b>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                            Explain the difference between L1 and L2 regularization.
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            L2 regularization tends to spread error among all the terms, while L1 is more binary/sparse, with many variables either being assigned a 1 or 0 in weighting. 
                                            L1 corresponds to setting a Laplacean prior on the terms, while L2 corresponds to a Gaussian prior.
                                            <br></br>
                                            <a class="button button1" href = "https://www.quora.com/What-is-the-difference-between-L1-and-L2-regularization-How-does-it-solve-the-problem-of-overfitting-Which-regularizer-to-use-and-when">Learn More</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                            How is a decision tree pruned?
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Pruning is what happens in decision trees when branches that have weak predictive power are removed in order to reduce the complexity of the model and increase the predictive accuracy of a decision tree model. 
                                            Pruning can happen bottom-up and top-down, with approaches such as reduced error pruning and cost complexity pruning.

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://stackoverflow.com/questions/879432/what-is-the-difference-between-a-generative-and-a-discriminative-algorithm">
                                                    Learn More
                                                </a>
                                            </b>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="accordion-2">

                                <div class="card wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                            What’s the difference between a generative and discriminative model?
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            A generative model will learn categories of data while a discriminative model will simply learn the distinction between different categories of data. 
                                            Discriminative models will generally outperform generative models on classification tasks.

                                            <br></br>

                                            <b>
                                                <a class="button button1" href = "https://stackoverflow.com/questions/879432/what-is-the-difference-between-a-generative-and-a-discriminative-algorithm">
                                                    Learn More
                                                </a>
                                            </b>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                            What’s the F1 score? How would you use it?
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            The F1 score is a measure of a model’s performance. It is a weighted average of the precision and recall of a model, with results tending to 1 being the best, and those tending to 0 being the worst. 
                                            You would use it in classification tests where true negatives don’t matter much.

                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://en.wikipedia.org/wiki/F-score">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                            What’s the “kernel trick” and how is it useful?
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            The Kernel trick involves kernel functions that can enable in higher-dimension spaces without explicitly calculating the coordinates of points within that dimension: instead, kernel functions compute the inner products between the images of all pairs of data in a feature space.
                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://en.wikipedia.org/wiki/Kernel_method">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                            What do you mean by Overfitting? How to avoid this?
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            While training a model if the data is fed in a large amount, then the model starts learning from the noise and other inaccurate data from the dataset. 
                                            As a result, it becomes difficult for the model to generalise new instances other than the training set.  

                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://www.geeksforgeeks.org/underfitting-and-overfitting-in-machine-learning/">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                            What Are The Steps Involved In Machine Learning Project?
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            There are several important steps you must follow to achieve a good working model and they are data collection, data preparation, choosing a machine learning model, training the model, model evaluation, parameter tuning and lastly prediction.
                                            
                                            <br></br>
                                            <b>
                                                <a class="button button1" href = "https://towardsdatascience.com/the-7-steps-of-machine-learning-2877d7e5548e">
                                                    Learn More
                                                </a>
                                            </b>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->


            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Team Leader's Contact Details</h2>
                                <p><i class="fa fa-phone-alt"></i>+91 99003 00840</p>
                                <p><i class="fa fa-envelope"></i>yashwant18@iitg.ac.in</p>
                                <!--Social Networking Details. Can be added if needed-->
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/yashwanth.m.93"><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                        </div>
                        <div class="col-md-6 col-lg-3">
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="index">Home Page</a>
                                <a href="about">About</a>
                                <a href="team">Our Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Parisodan</a>, All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
